@charset "UTF-8";

@font-face {
  font-family: "font-heribertos";
  src:url("fonts/font-heribertos.eot");
  src:url("fonts/font-heribertos.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-heribertos.woff") format("woff"),
    url("fonts/font-heribertos.ttf") format("truetype"),
    url("fonts/font-heribertos.svg#font-heribertos") format("svg");
  font-weight: normal;
  font-style: normal;
  font-size: 42px;
}

[data-icon]:before {
  font-family: "font-heribertos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 42px;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="hs-icon-"]:before,
[class*=" hs-icon-"]:before {
  font-family: "font-heribertos" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 42px;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hs-icon-icon-equipo:before {
  content: "\61";
}
.hs-icon-icon-consultor:before {
  content: "\62";
}
.hs-icon-icon-desarrollo:before {
  content: "\63";
}
.hs-icon-icon-it:before {
  content: "\64";
}
